COMMIT_LOG_CHANNELS=#MemTechBot
ECHONEST_KEY=REDACTED
HEROKU_URL=http://memtech-hubot.herokuapp.com/keepalive
HUBOT_FORECAST_API_KEY=REDACTED
HUBOT_GITHUB_TOKEN=REDACTED
HUBOT_IRC_CONNECT_COMMAND=nickserv identify elvis REDACTED
HUBOT_IRC_NICK=Elvis
HUBOT_IRC_ROOMS=#MemTechBot,#MemphisRuby,#MemTech,#GeekBlogTV
HUBOT_TWITTER_ACCESS_TOKEN=REDACTED
HUBOT_TWITTER_ACCESS_TOKEN_SECRET=REDACTED
HUBOT_TWITTER_CONSUMER_KEY=REDACTED
HUBOT_TWITTER_CONSUMER_SECRET=REDACTED
IMGFLIP_API_PASSWORD=memtech_elvis
IMGFLIP_API_USERNAME=memtech_elvis
PAPERTRAIL_API_TOKEN=REDACTED
REDISCLOUD_URL=redis://rediscloud:REDACTED
PORT=9000
